<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<h3>例1</h3>
		<div class="layout">
			<div class="flex-md-4 box1">md-4</div>
			<div class="flex-md-4 flex-md-offset-4 box2">md-4 md-offset-4</div>
		</div>
		<h3>例2</h3>
		<div class="layout">
			<div class="flex-md-3 flex-md-offset-3 box1">md-3 md-offset-3</div>
			<div class="flex-md-3 flex-md-offset-3 box2">md-3 md-offset-3</div>
		</div>
		<h3>例3</h3>
		<div class="layout">
			<div class="flex-md-6 flex-md-offset-3 box3">md-6 md-offset-3</div>
		</div>
	</div>
</body>
</html>