<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<p class="text-left box1">把文本排列到左边。默认值：由浏览器决定。</p><p class="text-center box2">把文本排列到中间。</p>
		<p class="text-right box3">把文本排列到右边。</p>
		<p class="text-justify box4">文本自适应对齐。</p>
		<p class="text-top box5">文本顶部对齐。<img src="../../images/a1.jpg" alt=""></p>
		<p class="text-middle box6">文本垂直居中对齐。<img src="../../images/a1.jpg" alt=""></p>
		<p class="text-bottom box1">文本底部对齐。<img src="../../images/a1.jpg" alt=""></p>
	</div>
</body>
</html>