<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<h1>h1 一级标题</h1>
		<h2>h2 二级标题</h2>
		<h3>h3 三级标题</h3>
		<h4>h4 四级标题</h4>
		<h5>h5 五级标题</h5>
		<h6>h6 六级标题</h6>



		<h1>h1 一级标题 <small>副标题</small></h1>
		<h2>h2 二级标题 <small>副标题</small></h2>
		<h3>h3 三级标题 <small>副标题</small></h3>
		<h4>h4 四级标题 <small>副标题</small></h4>
		<h5>h5 五级标题 <small>副标题</small></h5>
		<h6>h6 六级标题 <small>副标题</small></h6>
	</div>
</body>
</html>