<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<dl>
			<dt>奇葩</dt>
			<dd>奇葩，本意是指奇特而美丽的花朵，常用来比喻某人（或某事物）十分离奇，不落世俗，个性十足，世间罕至。</dd>
			<dt>图样图森破</dt>
			<dd>图样图森破，是一个流行于百度贴吧、微博、人人的一个热门网络词语。为英文 Too young,too simple的中文谐音。意思为：太年轻，很傻很天真。</dd>
		</dl>
	</div>
</body>
</html>