<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<!-- 纯文本 -->
		<p class="bg-primary">背景主要颜色</p>
		<p class="bg-secondary">背景次要颜色</p>
		<p class="bg-success">背景成功色</p>
		<p class="bg-warning">背景警告色</p>
		<p class="bg-danger">背景危险色</p>

		<!-- 链接 -->
		<p><a class="bg-primary" href="#">背景主要颜色</a></p>
		<p><a class="bg-secondary" href="#">背景次要颜色</a></p>
		<p><a class="bg-success" href="#">背景成功色</a></p>
		<p><a class="bg-warning" href="#">背景警告色</a></p>
		<p><a class="bg-danger" href="#">背景危险色</a></p>
	</div>
</body>
</html>