<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<address>
			<strong>Twitter, Inc.</strong><br />
			795 Folsom Ave, Suite 600<br />
			San Francisco, CA 94107<br />
			<abbr title="Phone">P:</abbr> (123) 456-7890
		</address>
		<address>
			<strong>Full Name</strong><br />
			<a href="mailto:#">first.last@example.com</a>
		</address>
	</div>
</body>
</html>