<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<div class="flex-md-12">
			<!-- 点击浏览器菜单里的【打印】，预览打印样式 -->
			<a href="http://www.test.com">Flagwind.UI</a>
		</div>
		<div class="flex-md-12">
			<abbr title="http://www.test.com">Flagwind.UI</abbr>
		</div>
	</div>
</body>
</html>