<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<h3>纯文本</h3>
		<p class="text-primary">文本主要颜色</p>
		<p class="text-secondary">文本次要颜色</p>
		<p class="text-success">文本成功色</p>
		<p class="text-warning">文本警告色</p>
		<p class="text-danger">文本危险色</p>
		<p class="text-muted">文本减弱色</p>

		<h3>链接</h3>
		<p><a class="text-primary" href="#">文本主要颜色</a></p>
		<p><a class="text-secondary" href="#">文本次要颜色</a></p>
		<p><a class="text-success" href="#">文本成功色</a></p>
		<p><a class="text-warning" href="#">文本警告色</a></p>
		<p><a class="text-danger" href="#">文本危险色</a></p>
		<p><a class="text-muted" href="#">文本减弱色</a></p>
	</div>
</body>
</html>