<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<section>
			<h1>谁陪你度过人生无常</h1>
			<article>
				<img class="align-right" src="../../images/a1.jpg" alt="" />
				<p>十几年前，我在安庆读书，常去一家宿松饭店，老板和老板娘均来自附近的宿松。宿松话很难懂，老板娘常和老板叽咕一番，再扭头用普通话招呼客人。她不仅语言切换十分利落，打扮、做。事也利落，常一边收拾台面，一边迎来送往，嘴上还算着账。有时，店里没什么人，等着上菜的时候，老板娘便和我聊天。她说，她16岁去广州打工，在一家酒楼遇到当厨师的老板，“就被套住啦”。说到这儿，她爽朗地一笑，双手清脆地一拍。我在宿松饭店，主食必点蛋炒饭。老板娘总在冒尖的饭上堆些自制的小菜，如雪里蕻、咸豆角——炒饭的干、香和咸菜的辛、爽一起裹入口中，真是说不尽的完美体验。我在安庆度过第三个夏天时，老板娘的娃已满地乱跑。一天，老同学问我，知不知道宿松饭店出了事。原来，一名食客酒醉后闹事，被泼辣的老板娘赶出来。烈日，重酒，推推搡搡，食客倒地不起，再没醒来。果然，等我再去，宿松饭店店门紧闭。一个月后，重新开张，新店主透露出来的信息是，“老店主卖了店和房子，为老婆打官司”。我这才知道，老板和老板娘的婚姻并不被看好，“女的比男的大三岁，还离过婚”，“家里不同意，只好来安庆”。我大惊：我曾亲眼目睹，店内没客时，老板娘正伏在老板膝上呢喃，我没见过比他们更恩爱的夫妻。惊诧、伤感、唏嘘，与室友卧谈了许久之后，宿松饭店终于成为故事。寝室老大在路上偶遇过老板。“他蹲着，埋头吃盒饭，胡子拉碴，看起来很憔悴。”老大顿一顿，“眼神直勾勾的，看人就像直接穿过去。”......</p>
			</article>
		</section>
	</div>
</body>
</html>