<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout layout-fill">
		<a class="btn btn-default" href="#" role="button">基本按钮</a>
		<button class="btn btn-default">基本按钮</button>
		<input class="btn btn-default" type="button" value="基本按钮" />
		<input class="btn btn-default" type="submit" value="基本按钮" />
	</div>
</body>
</html>