<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

	<style>
		p {
			margin: 0;
			padding: 0;
		}
	</style>

</head>

<body>
	<div class="layout">
		<div class="flex-md-6 box1">
			<p class="hide">我被隐藏了</p>
		</div>
		<div class="flex-md-6 box2">
			<p class="show">我被显示了</p>
		</div>
	</div>
</body>
</html>