<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<div class="layout">
		<div class="flex-md-12 scrollable-horizontal">
			<p class="text-nowrap">四月，草长莺飞，燕语呢喃，花丛中的你追逐着一只漂亮的蝴蝶，微风掀起你的裙裾：四月，烟雨如丝，缠绵如梦，你依然是那个追梦的女孩，喜欢把自己放在雨中，伸手接住那雨丝，任那一片微凉划过心海，眉目间总是盈一弯浅笑。</p>
		</div>
	</div>
</body>
</html>