<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Layout Example - Flagwind.UI</title>

    <!-- 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/flagwind.min.css" />

    <!-- HTML5 & Media Queries 兼容文件 -->
    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->

    <style>
    .box1, .box2, .box3, .box4
    {
        height:100px;
    }

    .box1
    {
        background: #0e90d2;
    }

    .box2
    {
        background: #5eb95e;
    }

    .box3
    {
        background: #f37b1d;
    }

    .box4
    {
        background: #dd514c;
    }
    </style>
</head>

<body>
    <header>
        <h1>布局 <small>layout.less</small></h1>
    </header>

    <hr />

    <!-- 1.1 基本用法 -->
    <h3>1.1 基本用法</h3>

    <div class="layout">
        <div class="flex-md-1 box1">md-1</div>
        <div class="flex-md-1 box2">md-1</div>
        <div class="flex-md-1 box3">md-1</div>
        <div class="flex-md-1 box4">md-1</div>
        <div class="flex-md-1 box3">md-1</div>
        <div class="flex-md-1 box2">md-1</div>
        <div class="flex-md-1 box1">md-1</div>
        <div class="flex-md-1 box4">md-1</div>
        <div class="flex-md-1 box1">md-1</div>
        <div class="flex-md-1 box2">md-1</div>
        <div class="flex-md-1 box3">md-1</div>
        <div class="flex-md-1 box4">md-1</div>
    </div>

    <hr />

    <div class="layout">
        <div class="flex-md-6 box3">md-6</div>
        <div class="flex-md-4 box2">md-4</div>
        <div class="flex-md-2 box1">md-2</div>
    </div>

    <hr />

    <!-- 1.2 不同区间不同的划分比例 -->
    <h3>1.2 不同区间不同的划分比例</h3>

    <div class="layout">
        <div class="flex-xs-6 flex-sm-4 flex-md-3 box3">md-3</div>
        <div class="flex-xs-6 flex-sm-8 flex-md-9 box2">md-9</div>
    </div>

    <hr />

    <!-- 1.3 百分百宽度 -->
    <h3>1.3 百分百宽度</h3>

    <div class="layout layout-fluid">
        <div class="flex-md-6 box1">md-6</div>
        <div class="flex-md-6 box2">md-6</div>
    </div>
</body>
</html>