/**
 * 基本样式
 */
body, h1 {
	margin: 0;
}

/**
 * 头部
 */
header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	height: 65px;
	line-height: 65px;
	color: #a58e54;
	background: #000;
	z-index: 10;
}

/**
 * 主体
 */
#body {
	position: absolute;
	top: 90px;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 1;
	/*margin: 0 10px;*/
}

#main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #ccc;
	background: #f9f9f9;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#main #content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * 清除浮动
 */

.clear:after,
#body:after {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	content: '';
}

/**
 * 垂直分割线
 */
.line {
	position: absolute;
	left: 250px;
	top: 18px;
	bottom: 18px;
	width: 1px;
	background-color: #afafaf;
	z-index: 2;
}