<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- 核心 CSS 文件 -->
	<link rel="stylesheet" href="../css/flagwind.css" />
	<link rel="stylesheet" href="../css/demo.css" />

</head>

<body>
	<!-- 带圆角边框的表格 -->
	<div class="layout layout-fill">
		<table class="table table-bordered-radius">
			<caption>带圆角边框的表格</caption>
			<thead>
				<tr>
					<th>框架名称</th>
					<th>网址</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Flagwind.UI</td>
					<td>https://github.com/Flagwind</td>
					<td>2015</td>
				</tr>
				<tr>
					<td>Flagwind.UI</td>
					<td>https://github.com/Flagwind</td>
					<td>2015</td>
				</tr>
				<tr>
					<td>Flagwind.UI</td>
					<td>https://github.com/Flagwind</td>
					<td>2015</td>
				</tr>
				<tr>
					<td>Flagwind.UI</td>
					<td>https://github.com/Flagwind</td>
					<td>2015</td>
				</tr>
				<tr>
					<td>Flagwind.UI</td>
					<td>https://github.com/Flagwind</td>
					<td>2015</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>